# Binary inputs
*.bin

# Test outputs
inputs/random_*
inputs/*.bin
inputs/*.out

# Compilation files
build/

# Binary files
bin-to-graph
compare
generate
graph-to-bin
mpitest
mtx-to-bin
rem

# Debuging files
callgrind.*
*.out
*.log
*.csv
