# Binary inputs
*.bin

# Test outputs
inputs/random_*
inputs/*.bin
inputs/*.out
*-*_graph*/
graph/

# Compilation files
build/

# Binary files
bin-to-graph
compare
generate
graph-to-bin
mpitest
mtx-to-bin
rem
shared

# Debuging files
callgrind.*
*.out
*.log
*.csv

# Documentation's build
*.pdf
*.aux
*.nav
*.snm
*.toc
*.synctex.gz
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
