addons:
  apt:
    packages:
     - openmpi-bin
     - libopenmpi-dev
     - texlive-full

install: make debug

script:
 - python3 tools/run_tests.py
 - cat mpitest.log
 - tools/build_pdf.sh

deploy:
  - provider: pages
    local_dir: documentation/pdf
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    on:
      branch: master
